.wrapper {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr;
	padding-inline: 1rem;

	@media screen and (min-width: 1024px) {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 300px 1fr;
		padding-inline: 5rem;
	}
}

.list {
	list-style: none;
}

.item {
	position: relative;
	padding: 10px;
	cursor: pointer;
	box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);

	&:hover {
		box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset 1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
		z-index: 2;
	}
}

.home {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 310px));
	gap: 25px;
}
