.card {
	height: 350px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid gray;
}

.title {
	font-weight: 600;
}

.title_name {
	font-style: italic;
	font-weight: normal;
}

.image {
	width: 250px;
	height: 250px;
	padding-bottom: 20px;
	padding-inline: 40px;
	align-self: center;
}