.card {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
}

.title_name {
	font-style: italic;
	font-weight: normal;
}

.image {
	max-width: 100%;
	padding-bottom: 20px;
}

.second_title {
	font-weight: 600;
}

.description {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icons {
	align-self: flex-end;
}

.button {
	border: none;
	background-color: unset;
}

.iconCart {
	max-width: 100%;
}
