.card {
	// height: 350px;
	width: 300px;
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.title_name {
	font-style: italic;
	font-weight: normal;
}

.image {
	width: 250px;
	height: 250px;
	width: 300px;
	height: 300px;
	padding-bottom: 20px;
}

.second_title {
	font-size: 12px;
	font-weight: 600;
}

.icons {
	align-self: flex-end;
}

.button {
	border: none;
	background-color: unset;
}
