.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
	margin-top: 7%;
	width: 500px;
	height: 200px;
	background-color: white;
	border: 2px solid gray;
	border-radius: 4px;
	z-index: 101;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.closeImg {
	width: 27px;
}