.container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 500px;
	height: 200px;
	background-color: gray;
	border-radius: 4px;
}

.close {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0;
	top: 18px;
	padding-right: 16px;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.close::before,
.close::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 1px;
	background-color: #000000;
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}
