.header_wrapper {
	margin-bottom: 28px;
	width: 100%;
	position: sticky;
	top: 0;
	background-color: var(--main-background-color);
	border-radius: var(--main-border-radius);
	opacity: 90%;
	z-index: 5;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 1440px;
	height: 100px;
}

.logo {
	padding: 10px;
	font-size: 24px;
	font-weight: 800;

	@media screen and (min-width: 1024px) {
		padding: 34px 0 34px 46px;
		font-size: 28px;
	}
}
