.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
	height: 100px;
	background-color: #FFFFFF;
	opacity: 90%;
	z-index: 5;
}

.logo {
	padding: 10px;
	font-size: 24px;
	font-weight: 800;

	@media screen and (min-width: 1024px) {
		padding: 34px 0 34px 46px;
		font-size: 28px;
	}
}
