.page {
	// display: grid;
	// grid-template-columns: 1fr;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
	align-items: center;
	max-width: 1440px;
	margin: auto;
	background-color: var(--main-background-color);
	border-radius: var(--main-border-radius);

	// @media screen and (min-width: 1024px) {
	// 	grid-template-columns: repeat(4, 1fr);
	// }
}
